In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
traindf = pd.read_csv('train.csv')
testdf = pd.read_csv('test.csv')

In [3]:
traindf.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
traindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 978.1+ KB

In [5]:
traindf.drop(['casual','registered'], axis=1, inplace=True)
#testdf.drop(['atemp'],axis=1, inplace=True)

In [6]:
# # seperating season as per values. this is bcoz this will enhance features.
'''
season=pd.get_dummies(traindf['season'],prefix='season')
traindf=pd.concat([traindf,season],axis=1)

season=pd.get_dummies(testdf['season'],prefix='season')
testdf=pd.concat([testdf,season],axis=1)


# # # same for weather. this is bcoz this will enhance features.
weather=pd.get_dummies(traindf['weather'],prefix='weather')
traindf=pd.concat([traindf,weather],axis=1)
traindf.head()


weather=pd.get_dummies(testdf['weather'],prefix='weather')
testdf=pd.concat([testdf,weather],axis=1)
testdf.head()

'''

"\nseason=pd.get_dummies(traindf['season'],prefix='season')\ntraindf=pd.concat([traindf,season],axis=1)\n\nseason=pd.get_dummies(testdf['season'],prefix='season')\ntestdf=pd.concat([testdf,season],axis=1)\n\n\n# # # same for weather. this is bcoz this will enhance features.\nweather=pd.get_dummies(traindf['weather'],prefix='weather')\ntraindf=pd.concat([traindf,weather],axis=1)\ntraindf.head()\n\n\nweather=pd.get_dummies(testdf['weather'],prefix='weather')\ntestdf=pd.concat([testdf,weather],axis=1)\ntestdf.head()\n\n"

In [7]:
# traindf

traindf["hour"] = [t.hour for t in pd.DatetimeIndex(traindf.datetime)]
traindf["day"] = [t.dayofweek for t in pd.DatetimeIndex(traindf.datetime)]
traindf["month"] = [t.month for t in pd.DatetimeIndex(traindf.datetime)]
traindf['year'] = [t.year for t in pd.DatetimeIndex(traindf.datetime)]
traindf['year'] = traindf['year'].map({2011:0, 2012:1})
traindf.drop('datetime',axis=1,inplace=True)
traindf.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,hour,day,month,year
0,1,0,0,1,9.84,14.395,81,0.0,16,0,5,1,0
1,1,0,0,1,9.02,13.635,80,0.0,40,1,5,1,0
2,1,0,0,1,9.02,13.635,80,0.0,32,2,5,1,0
3,1,0,0,1,9.84,14.395,75,0.0,13,3,5,1,0
4,1,0,0,1,9.84,14.395,75,0.0,1,4,5,1,0

In [27]:
# testdf

testdf["hour"] = [t.hour for t in pd.DatetimeIndex(testdf.datetime)]
testdf["day"] = [t.dayofweek for t in pd.DatetimeIndex(testdf.datetime)]
testdf["month"] = [t.month for t in pd.DatetimeIndex(testdf.datetime)]
testdf['year'] = [t.year for t in pd.DatetimeIndex(testdf.datetime)]
testdf['year'] = testdf['year'].map({2011:0, 2012:1})
testdf.head()

,datetime,holiday,workingday,temp,atemp,humidity,windspeed,hour,day,month,year
0,2011-01-20 00:00:00,0,1,10.66,11.365,56,26.0027,0,3,1,0
1,2011-01-20 01:00:00,0,1,10.66,13.635,56,0.0000,1,3,1,0
2,2011-01-20 02:00:00,0,1,10.66,13.635,56,0.0000,2,3,1,0
3,2011-01-20 03:00:00,0,1,10.66,12.880,56,11.0014,3,3,1,0
4,2011-01-20 04:00:00,0,1,10.66,12.880,56,11.0014,4,3,1,0

In [9]:


# # # now can drop weather and season.
traindf.drop(['season','weather'],inplace=True,axis=1)
testdf.drop(['season','weather'],inplace=True,axis=1)

# # # also I dont prefer both registered and casual but for ow just let them both.

In [10]:
traindf.corr()

,holiday,workingday,temp,atemp,humidity,windspeed,count,hour,day,month,year
holiday,1.000000,-0.250491,0.000295,-0.005215,0.001929,0.008409,-0.005393,-0.000354,-0.191832,0.001731,0.012021
workingday,-0.250491,1.000000,0.029966,0.024660,-0.010880,0.013373,0.011594,0.002780,-0.704267,-0.003394,-0.002482
temp,0.000295,0.029966,1.000000,0.984948,-0.064949,-0.017852,0.394454,0.145430,-0.038466,0.257589,0.061226
atemp,-0.005215,0.024660,0.984948,1.000000,-0.043536,-0.057473,0.389784,0.140343,-0.040235,0.264173,0.058540
humidity,0.001929,-0.010880,-0.064949,-0.043536,1.000000,-0.318607,-0.317371,-0.278011,-0.026507,0.204537,-0.078606
windspeed,0.008409,0.013373,-0.017852,-0.057473,-0.318607,1.000000,0.101369,0.146631,-0.024804,-0.150192,-0.015221
count,-0.005393,0.011594,0.394454,0.389784,-0.317371,0.101369,1.000000,0.400601,-0.002283,0.166862,0.260403
hour,-0.000354,0.002780,0.145430,0.140343,-0.278011,0.146631,0.400601,1.000000,-0.002925,-0.006818,-0.004234
day,-0.191832,-0.704267,-0.038466,-0.040235,-0.026507,-0.024804,-0.002283,-0.002925,1.000000,-0.002266,-0.003785
month,0.001731,-0.003394,0.257589,0.264173,0.204537,-0.150192,0.166862,-0.006818,-0.002266,1.000000,-0.004932
year,0.012021,-0.002482,0.061226,0.058540,-0.078606,-0.015221,0.260403,-0.004234,-0.003785,-0.004932,1.000000

In [11]:
train_features = traindf.drop('count', axis=1)
train_target = traindf['count']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_features,train_target, test_size = 0.30, random_state=0)

In [13]:
y_train.head()

8620     280
8985     832
6171     205
6473      54
10877    237
Name: count, dtype: int64

In [14]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [15]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [16]:
predicted = model.predict(X_test)

In [17]:
from sklearn.metrics import r2_score

score=r2_score(y_test,predicted)
score

0.9364321171021296

In [18]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predicted))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predicted))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predicted)))

Mean Absolute Error: 26.843201265564396
Mean Squared Error: 2064.358992199026
Root Mean Squared Error: 45.43521753220761

### Test data

In [19]:
testdf.head(10)

,datetime,holiday,workingday,temp,atemp,humidity,windspeed,hour,day,month,year
0,2011-01-20 00:00:00,0,1,10.66,11.365,56,26.0027,0,3,1,0
1,2011-01-20 01:00:00,0,1,10.66,13.635,56,0.0000,1,3,1,0
2,2011-01-20 02:00:00,0,1,10.66,13.635,56,0.0000,2,3,1,0
3,2011-01-20 03:00:00,0,1,10.66,12.880,56,11.0014,3,3,1,0
4,2011-01-20 04:00:00,0,1,10.66,12.880,56,11.0014,4,3,1,0
5,2011-01-20 05:00:00,0,1,9.84,11.365,60,15.0013,5,3,1,0
6,2011-01-20 06:00:00,0,1,9.02,10.605,60,15.0013,6,3,1,0
7,2011-01-20 07:00:00,0,1,9.02,10.605,55,15.0013,7,3,1,0
8,2011-01-20 08:00:00,0,1,9.02,10.605,55,19.0012,8,3,1,0
9,2011-01-20 09:00:00,0,1,9.84,11.365,52,15.0013,9,3,1,0

In [20]:
testdf_X_test = testdf.iloc[:,1:]

In [21]:
testdf_X_test.head()

,holiday,workingday,temp,atemp,humidity,windspeed,hour,day,month,year
0,0,1,10.66,11.365,56,26.0027,0,3,1,0
1,0,1,10.66,13.635,56,0.0000,1,3,1,0
2,0,1,10.66,13.635,56,0.0000,2,3,1,0
3,0,1,10.66,12.880,56,11.0014,3,3,1,0
4,0,1,10.66,12.880,56,11.0014,4,3,1,0

In [22]:
test_predicts = model.predict(testdf_X_test)

In [23]:
datetime = testdf['datetime']
datetime

0       2011-01-20 00:00:00
1       2011-01-20 01:00:00
2       2011-01-20 02:00:00
3       2011-01-20 03:00:00
4       2011-01-20 04:00:00
               ...
6488    2012-12-31 19:00:00
6489    2012-12-31 20:00:00
6490    2012-12-31 21:00:00
6491    2012-12-31 22:00:00
6492    2012-12-31 23:00:00
Name: datetime, Length: 6493, dtype: object

In [24]:
df = pd.DataFrame({
    "datetime" : datetime,
    'count' : test_predicts,
})

In [25]:
df.to_csv('s3a.csv', index=False)